*.orig
*.swn
*.swo
*.swp
*.tmproj
.DS_Store
.bundle
.gitconfig
.idea
.jhw-cache
.project
.rbenv-gemsets
.rbenv-version
.rspec
.rvmrc
.sass-cache
.svn
.tracker_settings.yml
.vagrant
build_options.yml
config/*.pem
config/amazon_s3.yml
config/background_config.yml
config/beta_practices.yml
config/data_receiver.yml
config/database.yml
config/discovery.yml
config/environments/development.rb_local_domain
config/initializers/airbrake.rb
config/initializers/airbrake_resque_notifier.rb
config/initializers/bullet.rb
config/initializers/bunyan.rb
config/initializers/data_mapper.rb
config/initializers/settings.rb
config/initializers/zendesk.rb
config/mongologger_config.rb
config/newrelic.yml
config/omniauth.yml
config/optimis_auth.yml
config/optimis_messaging.yml
config/optimis_reporting.yml
config/optimis_scheduling.yml
config/optimis_videos.yml
config/paperclip.yml
config/prince.yml
config/reporting.yml
config/reporting_mongo.yml
config/resque.yml
config/secret
config/shared_secret.yml
config/strongbox.yml
config/subscribers.yml
cookbooks/
coverage
coverage.data
cucumber.yml
db/*.db
db/*.sqlite
log
mkmf.log
nbproject
newrelic_agent.log
private
public/**/*_packaged.*
public/**/tuneup
public/assets
spec/rcov.opts
spec/spec.opts
spec/tmp
tags
vendor/cache/jruby/*
vendor/cache/libv8-*-x86_64-linux.gem
vendor/cache/rbx/*
vendor/cache/ruby
